.login-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-sub-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 1rem;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 0.5rem rgba(108, 99, 255,0.5);
    
}

.login-img{
    max-width: 40rem;
    max-height: 60vh;
}

.login-details-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-details-heading{
    font-size: 34px;
    text-align: center;
    font-weight: 600;
}

.login-username-container, .login-password-container{
    display: flex;
    gap: 1rem;
    font-size: 18px;
    padding: 0.5rem;
    justify-content: space-between;
}

.auth-input{
    border: none;
    background-color: var(--background-color);
    border-bottom: 1px solid black;
    outline: none;
    font-size: 16px;
}

.login-password-toggle-btn{
    border: none;
    background-color: var(--background-color);
    cursor: pointer;
    font-size: 18px;
}

#password{
    border: none;
    width: 8.5rem; 
}

.login-password-toggle-btn-container{
    border-bottom: 1px solid black;
}

.login-btn-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.auth-btn{
    font-size: 14px;
    padding: 0.5rem 0;
    color: white;
    background-color: rgb(108, 99, 255);
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
    font-weight: 400;
}
